html,body { height: 100%; }

#wrap { height: auto !important; margin: 0 auto -60px; min-height: 100% }

#sidebar-region {
  float: left;
  height: 800px;
  width: 8%;
  overflow-y: scroll;
}

ul {
  padding: 0;
  margin: 0;

    li{
      padding: 0;
      margin: 0;
     }
}

#main-region {
  float: left;
  width: 90%;
}
