.interactor-container {
  width: 100%;
  height: 600px;
  >.repl-region {
    float: left;
    height: 100%;
    width: 50%;
  }

  >.context-region {
    float: left;
    width: 50%;
    height: 50%;
  }
  >.editor-region {
    float: left;
    width: 50%;
    height: 50%;
  }
}

 .pry-large-editor-container {
      width: 100%;
      height: 100%;

     .pry-editor {
       height: 100%;
     }
 }
