.expressions {
  background: #272822;
  list-style-type: none;
  overflow-y: scroll;
  .expression-container {
    width: 100%;
    margin-right: 80px;

    .input-expression {
      height: 21px;

      &:hover {
        outline: solid;
        outline-color: #FF4500;
        outline-style: dotted;
      }
    }

    .output-result {
      margin: 20px 0;
      color: yellow;
    }
    .stdout-output {
      margin: 20px 0;
      color: green;
    }

  }
}
