<div id="wrap">
  <div id="header-region"></div>
  <div id="main-region" class="container"></div>
  <div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
$(function() {
Demo.start();
var websocket = new WebSocket("ws://127.0.0.1:3001/");
websocket.onmessage = function(event) {
  $("#main-region").append(event.data) ;
};
});
<% end %>
