<div id="wrap">
  <div id="header-region"></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1">
        <div id="sidebar-region"></div>
      </div>
      <div class="span11">
        <div id="main-region"></div>
      </div>
    </div>
  </div>

  <!-- Just testing websockets -->
  <div id="socket-region"></div>

  <div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
$(function() {
Demo.start({
currentUser: gon.current_user
});
});
<% end %>
